<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Responsive Our Team Section </title>
    <link href="{{ url_for('static', filename='Doc/css/style_profile.css') }}" rel="stylesheet">      
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>

  <div class="container">
    <input type="radio" name="dot" id="one">
    <input type="radio" name="dot" id="two">
    <div class="main-card">
      <div class="cards">
        <div class="card">
         <div class="content">
           <div class="img">
             <img src="static/assets/img/Sania Khan.jpeg" alt="">
           </div>
           <div class="details">
             <div class="name">Sania Khan</div>
           </div>
           <div class="media-icons">
             <a href="https://www.instagram.com/saniaa._._/"><i class="fab fa-twitter"></i></a>
           </div>
         </div>
        </div>
        <div class="card">
         <div class="content">
           <div class="img">
             <img src="static/assets/img/simran ahuja.jpeg" alt="">
           </div>
           <div class="details">
             <div class="name">Simran Ahuja</div>
           </div>
           <div class="media-icons">
             <a href="https://www.instagram.com/simran.ahuja03/"><i class="fab fa-twitter"></i></a>
           </div>
         </div>
        </div>
        <div class="card">
         <div class="content">
           <div class="img">
             <img src="static/assets/img/sejal datir.jpeg" alt="">
           </div>
           <div class="details">
             <div class="name">Sejal Datir</div>
           </div>
           <div class="media-icons">
             <a href="https://www.instagram.com/sejjal_._/"><i class="fab fa-twitter"></i></a>
           </div>
         </div>
        </div>
      </div>
      <div class="cards">
        <div class="card">
         <div class="content">
           <div class="img">
             <img src="static/assets/img/jesica bijju.jpeg" alt="">
           </div>
           <div class="details">
             <div class="name">Jesica Bijju</div>
           </div>
           <div class="media-icons">
             <a href="https://www.instagram.com/jjesica_7/"><i class="fab fa-twitter"></i></a>
           </div>
         </div>
        </div>
      
      </div>
    </div>
    <div class="button">
      <label for="one" class=" active one"></label>
      <label for="two" class="two"></label>
    </div>
  </div>

